$color-text-khera: #E3674B;
$color-text-wraith: #A2E3EB;
$color-text-zombie: #C0B3BC;
$color-bc-wraith: grey;
$color-bc-zombie: #514142;
$color-bc-modal-wraith:#58a4ae; 
$color-bc-modal-zombie:#705d5e; 
$color-modal-close: rgb(196, 49, 49);
$color-modal-overlay: #333333d3;