@font-face {
    font-family: "font-title-main";
    src: url("assets/fonts/Wallpoet/Wallpoet-Regular.ttf");

}

@font-face {
    font-family: "font-texte-para";
    src: url("assets/fonts/IBM_Plex_Mono/IBMPlexMono-Regular.ttf");
}

@font-face {
    font-family: "font-texte-title-blod";
    src: url("assets/fonts/IBM_Plex_Mono/IBMPlexMono-Bold.ttf");
}

@font-face {
    font-family: "font-title";
    src: url("assets/fonts/Share_Tech_Mono/ShareTechMono-Regular.ttf");
}

@font-face {
    font-family: "font-test";
    src: url("assets/fonts/Allerta_Stencil/AllertaStencil-Regular.ttf");
}