.section__home {
    background-color: black;
    z-index: 15;
}

#section_khera {
    position: relative;
}

#section_perso {
    background-color: $color-bc-wraith;
    z-index: 2;
}

#section_zombie {
    background-color: $color-bc-zombie;
    z-index: 1;
}
